.header{
    text-align: center;
}
.menu-item{
    border: 2px solid green;
    height: 300px;
    width: 400px;
    list-style: none;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    background-color: azure;
}
h2{
    text-align: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.nav{
    display: flex;
    width: 100vw;
    border: 2px solid green;
    height: 40px;
    background-color: blanchedalmond;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}
image{
    width: 90vw;
    height:600px;
}